/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/TechIntCreate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.page-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: var(--header-text-color);
    margin-bottom: 30px;
}

.page-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.page-card {
    display: inline-block;
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    width: 200px;
    margin: 10px;
    font-size: 1.2em;
    text-decoration: none;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 1000ms;
    transition: all 1000ms;
    overflow: hidden;
    position: relative;
}

.page-card:hover {
    border-color: #4CAF50;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    outline: 2px solid #70bdca;
}

.page-card:active {
    transform: translateY(0);
}

.page-card::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #2c9caf;
    -webkit-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    transform: skewX(45deg);
    z-index: -1;
    -webkit-transition: width 1000ms;
    transition: width 1000ms;
}

.page-card:hover::before {
    width: 250%;
}