body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/TechIntProfile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: var(--header-text-color);
    margin-bottom: 30px;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 30px;
}

.profile-info, .additional-info {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    box-sizing: border-box;
}

h3 {
    font-size: 18px;
    color: #28a745;
    border-bottom: 2px solid #28a745;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #444;
    font-size: 16px;
}

.form-group p {
    font-size: 16px;
    color: #666;
    margin: 5px 0 0;
}

ul {
    padding-left: 20px;
    margin: 10px 0;
}

ul li {
    font-size: 16px;
    color: #666;
}

/* For when only one section is present */
.profile-container.single-column {
    display: flex;
    flex-direction: column; /* Items arranged top to bottom */
    align-items: center; /* Horizontally center items */
}

.form-actions {
    margin-top: 20px;
    text-align: center;
}

.form-actions button {
    padding: 12px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-actions button:hover {
    background-color: #218838;
}


button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .profile-container {
        flex-direction: column; /* Stack sections vertically on smaller screens */
        align-items: center;
    }

    .profile-info, .additional-info {
        width: 100%; /* Full width on smaller screens */
    }

    h3 {
        text-align: center;
    }
}
