<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Page</title>
    <link rel="stylesheet" type="text/css" href="/css/busqueda.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" th:src="@{/js/busqueda.js}"></script>
</head>

<body>
    <div class="navbar" th:insert="~{fragments/navbar :: navbar('busqueda')}"></div>

    <div class="container">
        <form class="filters" th:action="@{/busqueda}" method="get">
            <h3>Filtros</h3>
            <div class="form-group">
                <label for="entidad">Filtrar por Entidad:</label>
                <select id="entidad" name="entidad">
                    <option value="" placeholder>Entidades</option>
                    <option value="USERS" th:selected="${entidad == 'USERS'}">Todos los usuarios</option>
                    <optgroup label="Usuarios por tipo">
                        <option value="ADMIN" th:selected="${entidad == 'ADMIN'}">Admin</option>
                        <option value="ASESOR" th:selected="${entidad == 'ASESOR'}">Asesor</option>
                        <option value="VENDEDOR" th:selected="${entidad == 'VENDEDOR'}">Vendedor</option>
                    </optgroup>
                    <option value="EMPRESA" th:selected="${entidad == 'EMPRESA'}">Empresa</option>
                    <option value="AREA" th:selected="${entidad == 'AREA'}">Area</option>
                    <option value="PAIS" th:selected="${entidad == 'PAIS'}">Pais</option>
                    <option value="CONTRATO" th:selected="${entidad == 'CONTRATO'}">Contrato</option>
                </select>
            </div>

            <div class="form-group">
                <label for="atributos" id="atributosLabel">Atributos a Mostrar:</label>
                <select id="atributos" name="atributos[]" multiple>
                    <option th:each="atributo : ${atributos}" th:value="${atributo}" th:text="${atributo}"
                        th:selected="${atributo}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="id-search">Filtrar por ID:</label>
                <input type="number" id="id-search" name="id" placeholder="ID" th:value="${id}">
            </div>

            <div class="form-group">
                <label for="name-search">Filtrar por Nombre:</label>
                <input type="text" id="name-search" name="nombre" placeholder="Nombre" th:value="${nombre}">
            </div>

            <button type="submit">Aplicar Filtros</button>
        </form>

        <div class="results">
            <h3>Results</h3>
            <table>
                <thead>
                    <tr th:if="${atributos != null}">
                        <!-- Atributos de todos los Usuarios -->
                        <th th:if="${atributos.contains('id')}">ID</th>
                        <th th:if="${atributos.contains('username')}">Nombre</th>
                        <th th:if="${atributos.contains('rol')}">Rol</th>
                        <!-- Atributos de los ASESORES -->
                        <th th:if="${atributos.contains('titulacion')}">Titulacion</th>
                        <th th:if="${atributos.contains('areasOperadas')}">Areas Operadas</th>
                        <!-- Atributos de los VENDEDORES -->
                        <th th:if="${atributos.contains('manager')}">Manager</th>
                        <th th:if="${atributos.contains('ingresos')}">Ingresos</th>
                        <th th:if="${atributos.contains('empresa')}">Empresa</th>
                        <th th:if="${atributos.contains('subContratados')}">Vendedores Contratados</th>
                        <!-- Atributos de las EMPRESAS -->
                        <th th:if="${atributos.contains('nombreEmpresa')}">Nombre</th>
                        <th th:if="${atributos.contains('sede')}">Sede</th>
                        <th th:if="${atributos.contains('fta')}">Facturacion Anual</th>
                        <th th:if="${atributos.contains('paisesOperados')}">Paises Operados</th>
                        <th th:if="${atributos.contains('areasOperadasEmp')}">Areas Operadas Empresas</th>
                        <th th:if="${atributos.contains('vendedoresContratados')}">Vendedores Contratados</th>
                        <th th:if="${atributos.contains('asesoresContratados')}">Asesores Contratados</th>
                        <!-- Atributos de todos los Usuarios y EMPRESA-->
                        <th th:if="${atributos.contains('fechaIngreso')}">Fecha de Ingreso</th>
                    </tr>
                    <tr th:if="${entidad == 'AREA'}">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                    </tr>
                    <tr th:if="${entidad == 'PAIS'}">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Capital</th>
                        <th>Poblacion</th>
                        <th>PBI</th>
                    </tr>
                    <tr th:if="${entidad == 'CONTRATO'}">
                        <th>ID</th>
                        <th>Asesor</th>
                        <th>Empresa</th>
                        <th>Fecha de Celebracion</th>
                        <th>Areas Asesoradas</th>
                    </tr>
                    <tr th:if="${listaEntidades}">
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Entidad</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:if="${entidad == 'USERS' || entidad == 'ADMIN' || entidad == 'ASESOR' || entidad == 'VENDEDOR'}"
                        th:each="usuario : ${usuarios}">
                        <!-- Atributos de todos los Usuarios -->
                        <td th:if="${atributos.contains('id')}" th:text="${usuario.id}">ID</td>
                        <td th:if="${atributos.contains('username')}" th:text="${usuario.username}">Nombre</td>
                        <td th:if="${atributos.contains('rol')}" th:text="${usuario.rol}">Rol</td>
                        <!-- Atributos de los ASESORES -->
                        <td th:if="${atributos.contains('titulacion')}"
                            th:text="${usuario.rol.name() == 'ASESOR'} ? ${usuario.titulacion} : '-'">Titulación</td>
                        <td th:if="${atributos.contains('areasOperadas') }">
                            <ul th:if="${usuario.rol.name() == 'ASESOR'}">
                                <li th:each="area : ${usuario.areasOperadas}" th:text="${area.nombreArea}">Areas
                                    Operadas</li>
                            </ul>
                            <ul th:unless="${usuario.rol.name() == 'ASESOR'}">-</ul>
                        </td>
                        <!-- Atributos de los VENDEDORES -->
                        <td th:if="${atributos.contains('manager')}"
                            th:text="${usuario.rol.name() == 'VENDEDOR'} ? ${usuario.managerID} : '-'">Manager</td>
                        <td th:if="${atributos.contains('ingresos')}"
                            th:text="${usuario.rol.name() == 'VENDEDOR'} ? ${usuario.ingresosTotales} : '$0,00'">
                            Ingresos
                        </td>
                        <td th:if="${atributos.contains('empresa')}"
                            th:text="${usuario.rol.name() == 'VENDEDOR'} ? ${usuario.empresa.nombreEmpresa} : '-'">
                            Empresa</td>
                        <td th:if="${atributos.contains('subContratados')}">
                            <ul th:if="${usuario.rol.name() == 'VENDEDOR'}">
                                <li th:each="vendedor : ${usuario.subContratados}" th:text="${vendedor.username}">
                                    Subcontratados</li>
                            </ul>
                            <ul th:unless="${usuario.rol.name() == 'VENDEDOR'}">-</ul>
                        </td>
                        <!-- Atributos de todos los Usuarios y EMPRESA-->
                        <td th:if="${atributos.contains('fechaIngreso')}"
                            th:text="${#dates.format(usuario.fechaIngreso, 'dd/MM/yyyy')}">Fecha de Ingreso
                        </td>
                    </tr>
                    <tr th:if="${entidad == 'EMPRESA'}" th:each="empresa : ${empresas}">
                        <!-- Atributos de las EMPRESAS -->
                        <td th:if="${atributos.contains('id')}" th:text="${empresa.id}">ID</td>
                        <td th:if="${atributos.contains('nombreEmpresa')}" th:text="${empresa.nombreEmpresa}">Nombre
                        </td>
                        <td th:if="${atributos.contains('sede')}" th:text="${empresa.sede}">Sede</td>
                        <td th:if="${atributos.contains('fta')}" th:text="${empresa.fta}">Facturacion</td>
                        <td th:if="${atributos.contains('paisesOperados')}">
                            <li th:each="pais : ${empresa.paisesOperados}" th:text="${pais.nombrePais}">Paises Operados
                            </li>
                        </td>
                        <td th:if="${atributos.contains('areasOperadasEmp')}">
                            <li th:each="area : ${empresa.areasOperadas}" th:text="${area.nombreArea}">Areas Operadas
                            </li>
                        </td>
                        <td th:if="${atributos.contains('vendedoresContratados')}">
                            <li th:each="vendedor : ${empresa.vendedoresContratados}" th:text="${vendedor.username}">
                                Vendedores Contratados</li>
                        </td>
                        <td th:if="${atributos.contains('asesoresContratados')}">
                            <li th:each="asesor : ${empresa.contratosAsesores}" th:text="${asesor.username}">Asesores
                                Contratados</li>
                        </td>
                        <td th:if="${atributos.contains('fechaIngreso')}" th:text="${empresa.fechaIngreso}">Fecha
                            Ingreso</td>
                    </tr>
                    <tr th:if="${entidad == 'AREA'}" th:each="area : ${areas}">
                        <!-- Atributos de las AREAS -->
                        <td th:text="${area.id}">ID</td>
                        <td th:text="${area.nombreArea}">Nombre</td>
                        <td th:text="${area.descripcion}">Descripcion</td>
                    </tr>
                    <tr th:if="${entidad == 'PAIS'}" th:each="pais : ${paises}">
                        <!-- Atributos de los PAISES -->
                        <td th:text="${pais.id}">ID</td>
                        <td th:text="${pais.nombrePais}">Nombre</td>
                        <td th:text="${pais.capital}">Capital</td>
                        <td th:text="${pais.poblacion}">Poblacion</td>
                        <td th:text="${pais.pbi}">PBI</td>
                    </tr>
                    <tr th:if="${entidad == 'CONTRATO'}" th:each="contrato : ${contratos}">
                        <!-- Atributos de los CONTRATOS -->
                        <td th:text="${contrato.id}">ID</td>
                        <td th:text="${contrato.asesor}">Asesor</td>
                        <td th:text="${contrato.empresa}">Empresa</td>
                        <td th:text="${contrato.fechaCelebracion}">Fecha Celebracion</td>
                        <td>
                            <li th:each="area : ${contrato.areasOperadas}" th:text="${area.nombreArea}">Areas Asesoradas
                            </li>
                        </td>
                    </tr>
                    <tr th:if="${datosEntidad}" th:each="datosEntidad : ${listaEntidades}">
                        <td th:text="${datosEntidad['id']}"></td>
                        <td th:text="${datosEntidad['nombre']}"></td>
                        <td th:text="${datosEntidad['tipo']}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>