<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <script src="@{/js/popup.js}" th:src="@{/js/popup.js}"></script>
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar('create')}"></div>

    <main class="page-container">
        <h1>Crear Entidades</h1>
        <div class="page-options">
            <a th:href="@{/create/area}" class="page-card">Crear Área</a>
            <a th:href="@{/create/empresa}" class="page-card">Crear Empresa</a>
            <a th:href="@{/create/pais}" class="page-card">Crear País</a>
            <a th:href="@{/create/user}" class="page-card">Crear Usuario</a>
        </div>
    </main>

    <!-- Popup for password error -->
    <div th:replace="~{fragments/popup}" th:if="${showPopUp}"></div>
    <input type="hidden" th:if="${showPopUp}" id="showPopUpFlag" value="true" />

</body>

</html>