<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" href="/css/create.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <script src="@{/js/popup.js}" th:src="@{/js/popup.js}"></script>
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar('edit')}"></div>

    <main class="page-container">
        <h1>Editar Entidades</h1>
        <div class="page-options">
            <a th:href="@{/edit/area}" class="page-card" th:classappend="area-bg">Área</a>
            <a th:href="@{/edit/empresa}" class="page-card" th:classappend="enterprise-bg">Empresa</a>
            <a th:href="@{/edit/pais}" class="page-card" th:classappend="country-bg">País</a>
            <a th:href="@{/edit/user}" class="page-card" th:classappend="user-bg">Usuario</a>
        </div>
    </main>

    <!-- Popup for password error -->
    <div th:replace="~{fragments/popup}" th:if="${showPopUp}"></div>
    <input type="hidden" th:if="${showPopUp}" id="showPopUpFlag" value="true" />

</body>

</html>