<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Inicio | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar('home')}"></div>
    <section>
        <h1>Bienvenido, <span th:text="${#authentication.principal.username}">Usuario</span></h1>
    </section>
    <div th:insert="~{fragments/footer :: footer}"></div>
</body>

</html>