<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login TechInt</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script src="@{/js/popup.js}" th:src="@{/js/popup.js}"></script>
</head>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form th:action="@{/login}" method="post" class="form-signin">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>

    </div>

    <!-- Popup for password error -->
    <div th:replace="~{fragments/popup}" th:if="${showPopUp}"></div>
    <input type="hidden" th:if="${showPopUp}" id="showPopUpFlag" value="true" />

</body>

</html>