<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Registrar Ingreso | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-forms.css}">
    <script src="@{/js/popup.js}" th:src="@{/js/popup.js}"></script>
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar(register-sale)}"></div>
    <section class="page-card">
        <form th:action="@{/register-sale}" method="post">
            <div class="form-group">
                <label for="monto">Monto</label>
                <input type="number" id="monto" name="monto" placeholder="Ingrese el monto en USD" min="1" required>
            </div>
            <div class="form-group">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </section>

    <!-- Popup for password error -->
    <div th:replace="~{fragments/popup}" th:if="${showPopUp}"></div>
    <input type="hidden" th:if="${showPopUp}" id="showPopUpFlag" value="true" />

</body>