<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Crear | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-forms.css}">
    <script type="text/javascript" th:src="@{/js/create.js}"></script>
    <script src="@{/js/popup.js}" th:src="@{/js/popup.js}"></script>
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar(create)}"></div>
    <section class="page-card">
        <h3>Informacion del Area</h3>
        <form th:action="@{/create/area}" method="post">
            <div class="form-group">
                <label for="nombre">Nombre del Area</label>
                <input type="text" id="nombre" name="nombre" placeholder="Ingrese el nombre del Area" required>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" id="descripcion" name="descripcion" placeholder="Ingrese una breve descripcion"
                    required>
            </div>
            <div class="form-group">
                <button type="submit">Crear Area</button>
            </div>
        </form>

        <!-- Popup -->
        <div th:replace="~{fragments/popup}" th:if="${showPopUp}"></div>
        <input type="hidden" th:if="${showPopUp}" id="showPopUpFlag" value="true" />

    </section>
</body>