<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Crear | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-forms.css}">
    <script type="text/javascript" th:src="@{/js/create.js}"></script>

</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar(create)}"></div>
    <h2>Crear Nueva Empresa</h2>
    <section class="page-card">
        <h3>Informacion de la Empresa</h3>
        <form th:action="@{/create}" method="post">
            <div class="form-group">
                <label for="empresanombre">Nombre de la Empresa</label>
                <input type="text" id="empresanombre" nombre="empresanombre"
                    placeholder="Ingrese el nombre de la Empresa" required>
            </div>

            <div id="empresa-fields">
                <div class="form-group">
                    <label for="empresasede">Sede de la Empresa</label>
                    <select id="empresasede" name="empresasede" required>
                        <option value="">Seleccion de Capital</option>
                        <!-- Iterate over the empresas list and create an option for each -->
                        <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.capital}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="empresapaises">Paises Operados</label>
                    <select id="empresapaises" name="empresapaises" required>
                        <option value="">Seleccione un Pais</option>
                        <!-- Iterate over the empresas list and create an option for each -->
                        <option th:each="pais : ${paises}" th:value="${pais.id}" th:text="${pais.nombrePais}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="empresaarea">Areas Operadas</label>
                    <select id="empresaarea" name="empresaarea" required>
                        <option value="">Seleccione una Area</option>
                        <!-- Iterate over the areas list and create an option for each -->
                        <option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.nombreArea}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="empresavendedores">Vendedores</label>
                    <select id="empresavendedores" name="empresavendedores" required>
                        <option value="">Seleccione un Vendedor</option>
                        <!-- Iterate over the vendedores list and create an option for each -->
                        <option th:each="userEntity : ${users}" th:value="${userEntity.id}" th:text="${userEntity.username}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="fechaIngreso">Fecha de Ingreso</label>
                <input type="date" id="fechaIngreso" name="fechaIngreso" required>
            </div>
            <div class="form-group">
                <label for="empresafta">Facturacion Total Anual</label>
                <input type="" id="empresafta" nombre="empresafta" placeholder="FTA en Millones de USD" min="5" required>
            </div>
            <div class="form-group">
                <button type="submit">Crear Empresa</button>
            </div>
        </form>

    </section>
</body>