<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <title>Crear | TechInt Multinacional</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/create-forms.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>
    <script type="text/javascript" th:src="@{/js/create.js}"></script>
    <script src="@{/js/popup.js}" th:src="@{/js/popup.js}"></script>
</head>

<body>
    <div th:insert="~{fragments/navbar :: navbar('create')}"></div>
    <section class="page-card">
        <h3>Información del Usuario</h3>
        <form th:action="@{/create/user}" method="post">
            <div class="form-group">
                <label for="username">Nombre de Usuario</label>
                <input type="text" id="username" name="username" placeholder="Ingrese el nombre de usuario" required>
            </div>

            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" placeholder="Ingrese la contraseña" required>
            </div>
            <div class="form-group">
                <label for="passwordConfirmation">Confirme la Contraseña</label>
                <input type="password" id="passwordConfirmation" name="passwordConfirmation"
                    placeholder="Ingrese la contraseña" required>
            </div>

            <div class="form-group">
                <label for="fechaIngreso">Fecha de Ingreso</label>
                <input type="date" id="fechaIngreso" name="fechaIngreso" required>
            </div>

            <div class="form-group">
                <label for="rol">Rol</label>
                <select th:if="${#authentication.principal.rol.name() == 'ADMIN' }" id="rol" name="rol" required>
                    <option value="">Seleccion de Rol</option>
                    <option value="ADMIN">Administrador</option>
                    <option value="VENDEDOR">Vendedor</option>
                    <option value="ASESOR">Asesor</option>
                </select>
                <select th:if="${#authentication.principal.rol.name() == 'VENDEDOR' }" id="rol" name="rol" disabled>
                    <option value="VENDEDOR" selected>Vendedor</option>
                </select>
                <input type="hidden" th:if="${#authentication.principal.rol.name() == 'VENDEDOR' }" name="rol"
                    value="VENDEDOR">
            </div>

            <!-- CAMPOS ADICIONALES DEl VENDEDOR -->
            <div id="vendedor-fields">
                <div class="form-group">
                    <label for="empresa">Empresa</label>
                    <select th:if="${#authentication.principal.rol.name() == 'ADMIN' }" id="empresa" name="empresa"
                        required>
                        <option value="">Seleccion de Empresa</option>
                        <!-- Iterate over the empresas list and create an option for each -->
                        <option th:each="empresa : ${empresas}" th:value="${empresa.id}"
                            th:text="${empresa.nombreEmpresa}"></option>
                    </select>
                    <select th:if="${#authentication.principal.rol.name() == 'VENDEDOR' }" id="empresa" name="empresa"
                        disabled>
                        <option th:value="${vendedor.empresa.id}" th:text="${vendedor.empresa.nombreEmpresa}"></option>
                    </select>
                    <input type="hidden" th:if="${#authentication.principal.rol.name() == 'VENDEDOR' }" name="empresa"
                        th:value="${vendedor.empresa.id}">
                </div>
            </div>

            <!-- CAMPOS ADICIONALES DEl ASESOR -->
            <div id="asesor-fields" class="form-group">
                <div class="form-group">
                    <label for="areasOperadas">Area</label>
                    <select id="areasOperadas" name="areasOperadas[]" multiple required>
                        <option th:each="area : ${areas}" th:value="${area.id}" th:text="${area.nombreArea}">
                        </option>
                    </select>
                </div>
                <div>
                    <label for="titulacion">Titulacion</label>
                    <input type="text" id="titulacion" name="titulacion" placeholder="Ingrese su Titulo" required>
                </div>
            </div>

            <div class="form-group">
                <button type="submit">Crear Usuario</button>
            </div>
        </form>


    </section>
    <!-- Popup -->
    <div th:replace="~{fragments/popup}" th:if="${showPopUp}"></div>
    <input type="hidden" th:if="${showPopUp}" id="showPopUpFlag" value="true" />
</body>

</html>